@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --font-size: 16px;
  /* Tema Claro */
  --background: #ffffff;
  --foreground: #18181b;
  --card: #f5f5f5;
  --card-foreground: #18181b;
  --popover: #ffffff;
  --popover-foreground: #18181b;
  --primary: #40e0d0;
  --primary-foreground: #18181b;
  --secondary: #27272a;
  --secondary-foreground: #ffffff;
  --muted: #f5f5f5;
  --muted-foreground: #71717a;
  --accent: #f5f5f5;
  --accent-foreground: #40e0d0;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --border: #e4e4e7;
  --input: transparent;
  --input-background: #f5f5f5;
  --switch-background: #e4e4e7;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --ring: #40e0d0;
  --chart-1: #40e0d0;
  --chart-2: #60a5fa;
  --chart-3: #a78bfa;
  --chart-4: #f472b6;
  --chart-5: #fb923c;
  --radius: 0.5rem;
  --sidebar: #f5f5f5;
  --sidebar-foreground: #18181b;
  --sidebar-primary: #40e0d0;
  --sidebar-primary-foreground: #18181b;
  --sidebar-accent: #e4e4e7;
  --sidebar-accent-foreground: #18181b;
  --sidebar-border: #e4e4e7;
  --sidebar-ring: #40e0d0;
}

.dark {
  /* Tema Oscuro */
  --background: #18181b;
  --foreground: #f5f5f5;
  --card: #27272a;
  --card-foreground: #f5f5f5;
  --popover: #27272a;
  --popover-foreground: #f5f5f5;
  --primary: #40e0d0;
  --primary-foreground: #18181b;
  --secondary: #f5f5f5;
  --secondary-foreground: #18181b;
  --muted: #27272a;
  --muted-foreground: #a1a1aa;
  --accent: #27272a;
  --accent-foreground: #40e0d0;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --border: #3f3f46;
  --input: transparent;
  --input-background: #27272a;
  --switch-background: #3f3f46;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --ring: #40e0d0;
  --chart-1: #40e0d0;
  --chart-2: #60a5fa;
  --chart-3: #a78bfa;
  --chart-4: #f472b6;
  --chart-5: #fb923c;
  --radius: 0.5rem;
  --sidebar: #27272a;
  --sidebar-foreground: #f5f5f5;
  --sidebar-primary: #40e0d0;
  --sidebar-primary-foreground: #18181b;
  --sidebar-accent: #3f3f46;
  --sidebar-accent-foreground: #f5f5f5;
  --sidebar-border: #3f3f46;
  --sidebar-ring: #40e0d0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-input-background: var(--input-background);
  --color-switch-background: var(--switch-background);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/**
 * Base typography. This is not applied to elements which have an ancestor with a Tailwind text class.
 */
@layer base {
  :where(:not(:has([class*=' text-']), :not(:has([class^='text-'])))) {
    h1 {
      font-size: var(--text-2xl);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    h2 {
      font-size: var(--text-xl);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    h3 {
      font-size: var(--text-lg);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    h4 {
      font-size: var(--text-base);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    p {
      font-size: var(--text-base);
      font-weight: var(--font-weight-normal);
      line-height: 1.5;
    }

    label {
      font-size: var(--text-base);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    button {
      font-size: var(--text-base);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    input {
      font-size: var(--text-base);
      font-weight: var(--font-weight-normal);
      line-height: 1.5;
    }
  }
}

html {
  font-size: var(--font-size);
}